@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  text-align: center;

}

.header {
  padding: 2rem;
  text-decoration: underline;
}


.favorite-dogs {
  height: auto;
  width: 90%;
  padding: 1rem;
  background-color: #437394;
  box-shadow: 5px 5px 4px 5px #888888;
}

.adoptable-dogs {
  height: auto;
  width: 90%;
  padding: 1rem;
  background-color: #D3B399;
  box-shadow: 5px 5px 4px 5px #888888;
}

.dog-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.dog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dog-specs {
  padding: 2px 16px;
}
