@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: center;

}

.header {
  padding: 2rem;
  text-decoration: underline;
}


.favorite-dogs {
  height: auto;
  width: 90%;
  padding: 1rem;
  margin: 3rem;
  background-color: #eaf1f8;
  box-shadow: 5px 5px 4px 5px #888888;
}

.dog-filter {
  height: auto;
  width: 50%;
  margin: auto;
  padding: 2rem;
  background-color: #eaf1f8;
}

.dog-filter input {
  height: 50px;
  width: 100%;
  font-size: 40px;
}

.dogs{
  background-color: #eaf1f8;
  box-shadow: 5px 5px 4px 5px #888888;
  margin: 3rem;
}

.adoptable-dogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 90%;
  padding: 1rem;
  
}

.dog-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  margin: 2rem auto;
  width: 70%;
  background-color: #437394;
}

img {
  height: 8rem;
  width: 8rem;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dog-card:hover {
  box-shadow: 0 10px 20px 0 black;
}

.dog-specs, .dog-specs p, .dog-specs h4 {
  padding: 2px 16px;
}

button {
  background-color: #eaf1f8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}

.add-dog-form input {
  border: solid;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}