@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.header {
  padding: 2rem;
  text-decoration: underline;
}
